.user-component {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    // width: 50vh;
    background-color: #fff;
    z-index: 99;
    padding: 56px, 20px, 56px, 20px;
    background-color: #121825;
    color: #fff;
    overflow-y: auto;
}